@font-face {
  font-family: 'Mojangles';
  src: url('./fonts/MinecraftRegular-Bmg3.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mojangles';
  src: url('./fonts/MinecraftBold-nMK1.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mojangles';
  src: url('./fonts/MinecraftItalic-R8Mo.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Mojangles';
  src: url('./fonts/MinecraftBoldItalic-1y1e.otf');
  font-weight: 700;
  font-style: italic;
}

/* LIGHT MODE */
:root {
  color-scheme: light;
  --main-body-color: #ffffff;
  --sepDiv-color: #eaeef0;
  --inp-fld-color: #e8e9ea;
  --text-bg-color: #FFFFFF;
  --input-borders-color: #888495;
  --separator-divs-border-color: #91949f;

  --primary-color-1: #4392e8;
  --primary-color-1-dark: #2b75c4;
  --primary-color-1-darker: #17589e;

  --primary-color-2: #a6b8cb;
  --primary-color-2-dark: #8896a6;

  --text-color-main: #212326;
  --text-color-inputs: #000000;
  --text-color-buttons: #ffffff;

  --close-btn-bg: #ffcaca00;
  --close-btn-bg-hover: #ffc9cf;
  --close-btn-color-text: #e84457;

  --danger-color: #d41e36;
  --danger-bgcolor: #ffe0e3;

  --warn-color: #c89c00;
  --warn-bgcolor: #fff6b2;

  --success-color: #76c573;

  --info-color: #73bec5;
  /* --box-shadow-clr: #00000045; */
  --box-shadow-clr: #00000000;
}

/* DARK MODE */
.darkmode {
  color-scheme: dark;
  --main-body-color: #171622;
  --sepDiv-color: #1c1c27;
  --inp-fld-color: #21222c;
  --text-bg-color: #262831;
  --input-borders-color: #4c5264;
  --separator-divs-border-color: #3c414e;

  --primary-color-1: #3970aa;
  --primary-color-1-dark: #204e83;
  --primary-color-1-darker: #123257;

  --primary-color-2: #4d5a68;
  --primary-color-2-dark: #394450;

  --text-color-main: #ececec;
  --text-color-inputs: #ececec;
  --text-color-buttons: #ececec;

  --close-btn-bg: #b0494900;
  --close-btn-bg-hover: #44060c;
  --close-btn-color-text: #d4253c;

  --danger-color: #d95564;
  --danger-bgcolor: #491424;

  --warn-color: #d9ca55;
  --warn-bgcolor: #4b4625;

  --success-color: #76c573;
  --info-color: #73bec5;
  /* --box-shadow-clr: #00000074; */
  --box-shadow-clr: #00000000;
}

/* ===== DOCUMENT ELEMENTS ===== */

html,
body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--main-body-color);
  color: var(--text-color-main);
  accent-color: var(--primary-color-1);
  margin: 0;
  padding: 0;
  min-height: 100%;
}

textarea {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--input-borders-color);
  background-color: var(--text-bg-color);
  color: var(--text-color-inputs);
  box-shadow: 0px 1px 3px var(--box-shadow-clr) inset;
  outline-width: 1px;
  outline-style: none;
  outline-color: transparent;
}

input {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

input[type="text"],
input[type="number"] {
  font-size: 1em;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  background-color: var(--text-bg-color);
  color: var(--text-color-inputs);
  border-color: var(--input-borders-color);
  box-shadow: 0px 1px 3px var(--box-shadow-clr) inset;
  outline-width: 1px;
  outline-style: none;
  outline-color: transparent;
}

textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus {
  outline-style: solid;
  outline-color: var(--primary-color-1);
  box-shadow: 0px 0px 4px var(--primary-color-1);
}

.supportsWarn.warn,
.supportsWarn:not(:valid) {
  transition: 0.25s ease;
  color: var(--danger-color);
  background-color: var(--danger-bgcolor);
  border-color: var(--danger-color);
}

.blueButton {
  color: var(--text-color-buttons);
  background-color: var(--primary-color-1);
  border: solid;
  border-width: 1px;
  border-color: var(--primary-color-1);
  border-radius: 7.5px;
  box-shadow: 0px 1px 3px var(--box-shadow-clr);
  cursor: pointer;
}

.blueButton:hover {
  background-color: var(--primary-color-1-darker);
  border: solid;
  border-width: 1px;
  border-color: var(--primary-color-1);
}

svg {
  flex-shrink: 0;
  color: currentColor;
}

input[type="checkbox"] {
  accent-color: var(--primary-color-1);
  cursor: pointer;
}

input[type="file"] {
  cursor: pointer;
}

hr {
  border: none;
  height: 1px;
  color: var(--input-borders-color);
  background-color: var(--input-borders-color);
}

.OptionalLabel {
  opacity: 50%;
}

/* ===== MAIN DIVISION ===== */
#mainDivision {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 0em;
  padding-right: 0em;
  /* gap: 20px; */
}

#leftDivision {
  flex: 3.5;
  min-width: 360px;
}

#rightDivision {
  flex: 5;
  min-width: 360px;
}

.separatorDiv {
  margin: 0.5em;
  padding: 10px;
  background-color: var(--sepDiv-color);
  border-radius: 10px;
  box-shadow: 0px 1px 3px var(--box-shadow-clr);
  border: solid;
  border-color: var(--separator-divs-border-color);
  border-width: 1px;
}

.inputsList,
.settingsInputsList,
.subpackInputsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inputsList li,
.settingsInputsList li,
.subpackInputsList li {
  margin-bottom: 1em;
}

summary {
  cursor: pointer;
}

/* ===== LEFT DIVISION ===== */
#packname,
#packdesc,
#authors,
#metadataWebsiteURL {
  box-sizing: border-box;
  width: 100%;
}

#regenHeaderUUID,
#regenModuleUUID {
  /* border-radius: 100%; */
  width: 2em;
  height: 2em;
  justify-content: center;
  text-align: center;
  padding: 0;
}

#headerUUID, #moduleUUID {
  font-family: monospace;
  font-size: 1.25em;
  height: 1.5em;
}

.mainInputFieldDiv {
  display: flex;
  padding: 0.125em;
  margin: 5px 0 5px 0;
  background-color: var(--inp-fld-color);
  border-radius: 10px;
  box-shadow: 0px 1px 3px var(--box-shadow-clr);
  border: solid;
  border-color: var(--separator-divs-border-color);
  border-width: 1px;
}

/* Subpack: Up/Down Buttons */
.divForUpAndDownBtns {
  width: 2em;
  display: flex;
  flex-direction: column;
}

.btnUp, .btnDown {
  width: 100%;
  height: 50%;
  background-color: var(--primary-color-2);
  border: none;
  border-radius: 7.5px;
  color: var(--text-color-main);
}

.btnUp:hover, .btnDown:hover {
  background-color: var(--primary-color-2-dark);
}

/* Subpack: Main Field */
.divForMainSubpackInputs,
.divForMainSettingsInputs {
  /* background-color: rgb(218, 218, 36); */
  flex: 1;
  padding: 0.25em;
}

/* Subpack: Close Button */
.btnClose {
  border: none;
  border-radius: 8px;
  color: var(--text-color-buttons);
  background-color: var(--close-btn-bg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnClose:hover {
  color: var(--close-btn-color-text);
  background-color: var(--close-btn-bg-hover);
}

#copyableTextArea {
  display: flex;
  width: 100%;
  resize: vertical;
  white-space: nowrap;
  font-family: monospace;
  field-sizing: content;
  outline-style: none;
  box-shadow: none;
}

#authors,
.subpackDescription {
  min-height: 4.5em;
  field-sizing: content;
}

/* ===== RIGHT DIVISION ===== */
#ingamePackname {
  font-family: Mojangles;
}

#ingamePackdesc {
  font-family: Calibri;
}

#copyToClipboardBtn,
#downloadFileBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#packPreviewOptions {
  display: flex;
  justify-content: space-between;
  gap: 0.25em;
  margin-bottom: 0.5em;
}

.wholepage {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

/* .main {

} */

.footer {
  background-color: var(--sepDiv-color);
  border: solid;
  border-width: 1px 0 0 0;
  border-color: var(--input-borders-color);
  padding: 10px;
}

.icon-links a {
  text-decoration: none;
}

.githubicon {
  fill: var(--text-color-main);
}